.mi_wrapper {
  width: 1226px;
  margin: 0 auto;
}

.kl_wrapper {
  width: 1100px;
  margin: 0 auto;
}

.clear_fix::after {
  content: "";
  display: block;
  clear: both;

  height: 0;
  visibility: hidden;
}

.clear_fix {
  *zoom: 1;
}
