html,body,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei", "Arial";
    
}
a{
    text-decoration: none;
    color: #222222;
}
ul,li {
    list-style: none;
}