.bike{width:130px;height:130px;background:url(../images/bike.png);position:absolute;top:180px;left:45%;margin-left:0px}

.bikeAni{-webkit-animation:bikeAni 7s steps(99) infinite;animation:bikeAni 7s steps(99) infinite}

@keyframes bikeAni{
	0%{background-position:0 12870px}
	99%{background-position:0 0}
}