<template>
  <div class="<%= lowername %>">
    <h2><%= name %>: {{ message }}</h2>
  </div>
</template>

<script setup>
import { ref } from 'vue'

const message = ref("哈哈哈")
</script>

<style>
.<%= lowername %> {
  color: red;
}
</style>
